# Output folders
dist/
tmp/
out-tsc/
bazel-out/

# Angular build cache
.angular/

# Node dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VS Code local history (optional)
.history/

# Testing and coverage
coverage/
testem.log

# Sass cache
.sass-cache/

# Lock files & temp
connect.lock
libpeerconnection.log
typings/

# System files
.DS_Store
Thumbs.db
git filter-repo --helpg
