<div class="container" id="agendar">
  <div class="meeting-intro">
    <h2 class="intro-title">Impulsa tu presencia online</h2>
    <p class="intro-subtitle">Experto en estrategias digitales para tu negocio</p>
  </div>

  <div class="button-wrapper">
    <button class="schedule-button" (click)="openModal()">Agendar Reunión</button>
  </div>

  <!-- Modal -->
  <div class="modal" [class.show]="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>

      <div class="calendly-wrapper">
        <iframe
          src="https://calendly.com/santiagoblues-app/45min"
          frameborder="0"
          allowfullscreen
          class="calendly-iframe">
        </iframe>
      </div>
    </div>
  </div>
</div>
